body {
  background-image: linear-gradient(to top left,rgb(110, 110, 110), rgb(0, 0, 0));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


header {
  background-image: linear-gradient(rgb(124, 124, 124), rgb(0, 0, 0));
  color: rgb(255, 72, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

header > h1 {
  color: whitesmoke;
  text-shadow: 0 0 5px rgb(255, 72, 0);
}

img {
box-shadow: 0 0 25px rgb(255, 208, 0);
border-radius: 200px;

}

.article {
  display: flex;
}

#contactMe {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.contactLinks {
  font-size: 150%;
  margin-left: 15px;
}


img:hover {
box-shadow: 0 0 50px rgb(116, 255, 82);
}

.cardTitle {
  font-size: 125%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;
  text-shadow: 0 0 15px rgb(0, 63, 5);
  padding: 25px;
  margin-bottom: 25px;
}

.image {
  border-radius: 10px;
}


.image:hover {
  transform: scale(1.15);
  transition: .5s ease;
}

.proCard {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}

a {
  color: whitesmoke;
  padding: 15px;
}

a:hover {
  color: rgb(255, 208, 0);
  text-decoration: none;
  cursor: pointer;
}

#about {
  padding: 50px;
  text-align: center;
}

h2:hover {
  color: rgb(255, 208, 0);
  transform: .2 ease-in;
}

#portfolio {
  padding: 50px;
  text-align: center;
}

h2 {
  color:rgb(255, 72, 0);
  font-size: 300%;
  margin-bottom: 25px;
}

.aboutH2 {
  color:rgb(255, 72, 0);
  margin-top: 25px;
  font-size: 300%;
}

.aboutP {
  color: whitesmoke;
  font-size: 150%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.overlay3 {
  padding: 30px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 25px;
  color: rgba(255, 255, 255, 0.411);
  font-size: 115%;
  margin-top: 15px;
}
